# Gaussian Process Time-Series Regression

Train a Gaussian Process to model the time-series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use("ggplot")
%matplotlib inline

from IPython.display import display_html
def display_side_by_side(*args):
    """
    Taken from https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side
    """
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

## Get data

In [5]:
df1 = pd.read_csv("../data/insead_2016.csv", index_col="Time Stamp", parse_dates=["Time Stamp"])
df1.shape

(85193, 13)

In [19]:
df1.head()

,chwshdr,cwrhdr,cwshdr,cwsfhdr,ch1kw,ch2kw,ch3kw,loadsys,chwsfhdr,ch1_status,ch2_status,ch3_status,y
Time Stamp,,,,,,,,,,,,,
2016-02-01 00:00:00,0.00000,30.4664,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0,0,0,0.000
2016-02-01 00:01:00,8.46289,30.3218,27.1430,536.522,0.844,0.856,82.944,113.924,407.278,0,0,0,84.644
2016-02-01 00:02:00,8.50649,30.2704,27.1343,531.157,0.848,0.880,81.920,111.232,402.875,0,0,0,83.648
2016-02-01 00:03:00,8.52001,30.2337,27.1465,532.766,0.864,0.868,80.896,108.164,395.830,0,0,0,82.628
2016-02-01 00:04:00,8.48630,30.2245,27.1510,534.376,0.872,0.880,79.872,105.685,385.703,0,0,0,81.624